{% extends 'base.html' %}
{% load comment_tags %}
{# 引用这种加载的方式 必须得要加载 staticfiles #}
{% load staticfiles %}
{% load likes_tags %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog.css' %}">
{% endblock %}

{#标题#}
{% block title %}
    博客列表
{% endblock %}

{#页面内容#}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-9" >
                <p>{% block blog_list_title %}一共有{{ page_of_blogs.paginator.count}}篇博客,
                    共{{ page_of_blogs.paginator.num_pages }}页,当前第{{ page_of_blogs.number }}页{% endblock %}</p>
                    {% for blog in blogs %}
                        <div class="panel panel-default">
                          <div class="panel-heading">
                              <p><a href="{% url "blog_detail" blog.pk %}">{{ blog.title }}</a></p>
                              <p class="blog-info">
                                  作者:{{ blog.author }}
                                  &nbsp&nbsp&nbsp
                                  分类:<a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a>
                                  &nbsp&nbsp&nbsp
                                  {% if blog.get_read_num %}
                                      阅读({{ blog.get_read_num }})
                                  {% else %}
                                      暂无阅读
                                  {% endif %}
                                  &nbsp&nbsp&nbsp评论({% get_comment_count blog %})
                                  &nbsp&nbsp&nbsp点赞({% get_like_count blog %})
                              </p>
                          </div>
                          <div class="panel-body">
                            {{ blog.content|striptags|truncatechars:20 }}
                          </div>
                        </div>
                    {% empty %}
                        <p>暂无博客，敬请期待</p>
                    {% endfor %}
                <div>

                      <ul class="pagination">
                      {# 上一页#}
                        <li>
                            {% if page_of_blogs.has_previous %}
                                <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&laquo;</span>
                            {% endif %}
                        </li>

                          {#  显示全部页码  当前页高亮状态 #}
                          {% for page_num in page_range %}
                              {% if page_num == page_of_blogs.number %}
                                  <li class="active"><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                              {% else %}
                                  {% if page_num == '...' %}
                                    <li><span>{{ page_num }}</span></li>
                                  {% else %}
                                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                  {% endif %}
                              {% endif %}
                          {% endfor %}
                        {#    下一页   #}

                        <li>
                        {% if page_of_blogs.has_next %}
                                <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                        {% else %}
                            <span aria-hidden="true">&raquo;</span>
                        {% endif %}
                        </li>
                      </ul>

                </div>
            </div>

            <div class="col-sm-4 col-md-3">
    {#            <h4>博客分类</h4>#}
                    <div class="panel panel-default">
                        <div class="panel-heading">博客分类</div>
                        <div class="panel-body">
                            <ul class="blog-type">
                                {% for blog_Type in blog_types %}
                                    <li><a href="{% url 'blogs_with_type' blog_Type.pk %}">
                                    {{ blog_Type }}({{ blog_Type.blog_count }})
                                    </a></li>
                                {% empty %}
                                    <li>暂无分类</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">日期归档</div>
                        <div class="panel-body">
                            <ul>
                                {% for blog_date, blog_date_number in blogs_date.items %}
                                <li><a href="{% url 'blogs_with_date' blog_date.year blog_date.month %}">{{ blog_date|date:"Y年m月" }}({{ blog_date_number }})</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}
